<form method="post" action="{{ path('app_relation_utilisateur_delete', {'id': relation_utilisateur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ relation_utilisateur.id) }}">
    <button class="btn">Delete</button>
</form>
