{% extends 'base.html.twig' %}

{% block title %}New RelationUtilisateur{% endblock %}

{% block body %}
    <h1>Create new RelationUtilisateur</h1>

    {{ include('relation_utilisateur/_form.html.twig') }}

    <a href="{{ path('app_relation_utilisateur_index') }}">back to list</a>
{% endblock %}
